{% extends "blog/base.html" %}
<!--State Block-->
{% block content %}
<!--Specific Content-->
<h1>About Page</h1>
<article class="media content-section">
    <div>
        <h3 class="media-body">Founders Message</h3>
        <p>This site was founded with intent to help. 
        In these trying times, with COVID-19 rampaging its way across the world and riots in the streets, 
        we wanted to offer a site where people could openly express themselves. 
        We wanted to offer a place where you could get help when you need it.
        We are working with multiple hospitals to try and get as many people as possible the aid they need.
        We hope that you enjoy, and that we do help.
    </div>
</article>
<article class="media content-section">
    <div>
        <h3 class="media-body">Our Founder</h3>
        <p>Theodore Bonham, or TLBones, is a small-time web developer just getting started. 
        Previously having dealt with very difficult times and a rough time handling depressive and anxious tendencies,
        he sought out ways to help those who face those same difficulties. This site was his way of doing that.
    </div>
</article>
<!--End specific block-->
{% endblock content %}